
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-font-family:'Poppins';
    --light-white:#f5f8fa;
    --gray:#5e6278;
    --gray-1:#e3e3e3;
}
body{
    /* font-family: var(--primary-font-family); */
    font-size: 14px;
}
.wrapper{
    padding: 0 0 100px;
    background-image: url("Images/bg.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    min-height: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper .logo img{
    max-width: 40%;
    max-height: 40%;
}

.wrapper input{
    background-color: var(--light-white);
    border-color: var(--light-white);
    color:var(--gray);
}

.wrapper .password-info{
    font-size: 9px;
}

.wrapper input:focus{
    box-shadow: none;
}

.wrapper .submit_btn{
    padding:10px 15px;
    font-weight: 500;
}

.wrapper .login_with{
    padding:8px 15px;
    font-size: 13px;
    font-weight:500;
    transition: 0.3s ease-in-out;
}

.wrapper .login_with img{
    max-width: 7%;
}


.wrapper .otp-input input{
    width: 14%;
    height: 35px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

@media (max-width:1200px){
    .wrapper .otp-input input{
        height: 30px;
    }
}

@media (max-width:767px){
    .wrapper .otp-input input{
        height: 30px;
    }
}